@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: #fff;
    font-family: Outfit, Helvetica, sans-serif ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content { /* for larger monitors so page is not overwhelmingly large */
    max-width: 1600px;
    margin: 0 auto;
}
/* Header */
header {
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;

}

img.logo {
    width: 140px;
    margin-left: 20px;
}

#logo_link {
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

nav {
    display: flex;
    justify-content: space-around;

}
nav a {
    text-decoration: none;
    color: white;
    padding: 35px;
    text-align: center;
}
nav a:hover {
    color: #fca311;
    background-color:  #333533; 
}

.icon-bar {
    width: 25%; /* Set a specific width */
    
}
  
  
.icon-bar a {
    display: inline-block; /* Make the links appear side-by-side */
    padding: 5px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 12px; /* Adjust font-size as needed */
    text-align: center;
    vertical-align: middle;
    line-height: normal; /* Reset the line-height to normal */
    right: 0;
    margin-top: 35px;
}

.icon-bar a i {
    line-height: inherit; /* Inherit the line-height from parent element */
    vertical-align: middle;
}

  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
  .active {
    background-color: #04AA6D; /* Add an active/current color */
}

/*slide - hero*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;

}

.slideshow-container img{
  height: 10%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 70px; /* Some padding */
  width: 100%;
  text-align: center;
}
.text h1{
  color: #fca311;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: -20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.text p{
    color: #fca311;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 60Px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  vertical-align: middle;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.zigzag {
    box-sizing: border-box;
  }
  
  .container {
    padding: 64px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 60%;
    padding: 20px;
  }

  .column-33 img {
    width: 100%;
    height: fit-content;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 40%;
    padding: 20px;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }

.read {
    background-color: #333533;
    color: #fefae0;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.read:hover {
    background-color: #cec9c9;
    color: black;
}

 /* Contact us - form */
 .contact {
  display: flex;
}

#map {
  flex: 1;
  /* Adjust the width or height as needed */
  width: 600px;
  height: 350px;
  padding-left: 30px;

}


 #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}

.form {
    margin-left: 350px;
}

.moveDown {
    margin-top: 3em;
}

form {
    /* Center the form on the page */
    width: 300px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    flex: 1;
    margin-left: 75px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 500px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  /* Style the footer */
footer {
  background-color: black;
  color: #cec9c9;
  padding: 25px 50px;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
  align-items: center;
}

.contact-info h5{
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
  margin-top: -10px;
}

.contact-info h6 {
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
  margin-top: -15px;
}

.contact-info p {
  color: #cec9c9;
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
}

.vertical-section {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-top: -100px;
}

.vertical-section img {
  margin-bottom: 10px;
  width: 120px;
  display: flex;
}

.social {
  display: flex;
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin-left: 50%;
  margin-top: -20px;
}

.fa:hover {
  opacity: 0.5;
  color:  #fca311;
}

.social a {
  margin-bottom: 5px;  
}

/* Facebook */
.fa-facebook {
  color:  #cec9c9;
  padding: 12px;
  text-align: center;
}

/* Twitter */
.fa-instagram {
  color:  #cec9c9;
  margin-left: 20%;
  padding: 12px;
  text-align: center;
}

.site-plan{ 
  font-size: 20px;
  text-decoration: underline;
  color: #cec9c9;
  margin-left: 20%;
  margin-top: -20PX;
  border-radius: 50%;
  text-align: center;
}

.site-plan:hover {
  opacity: 0.5;
  color:  #fca311;
}

.copy {
  margin-top: -55px; /* Add some spacing */
  font-size: 15px;
  margin-left: 86%;
  display: flex;
  margin-bottom: 70px;
}

/* Page 2 - About us */

/* Page 3 - Our Serivces */
.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.bg-image img{
  align-items: center;
  width: 1600px;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* Center website */
.main-service {
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding: 20px;
  
}

.img-grid {
  border: 1px solid #fca311;
  width: 1600px;
  height:300px;
}

.row-grid {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row-grid,
.row-grid > .column-grid {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column-grid {
  float: left;
  width: 31%;
  margin-left: 25px;
}

/* Clear floats after rows */
.row-grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content-grid {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column-grid {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-grid {
    width: 100%;
  }
}

/* About us - hero */
#hero3 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* or we can use "repeat(5, 1fr);" and have it span over three columns */
  margin-top: -100px; 
}

#hero-box3 {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-img3 {
  width: 1600px;
}
#hero-msg3 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 250px;
}

#hero-msg3 h1 {
  text-align: center;
  font-size: 100px;
  color: #fca311;
  background-color: rgba(0,0,0, 0.4);
}
/* Main - about us */
.main-aboutus {
  overflow: auto;
  padding-top: 20px;
}
.content-section {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#about-img {
  float: right;
  width: 40%;
  margin-right: 0;
  margin-left: 10px; 
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.content-section2 {
  margin-left: 20px;
}

#mission-img {
  width: 100%;
  margin-left: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.content-section3 {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.myul {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}


#team {
  float: left;
  width: 30%;
  margin-right: 20px;
  margin-left: 20px; 
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.content-section4 {
  margin-right: 20px;
  margin-left: 20px;
}